* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
/*This section coresponds to the navigation bar at the top of the page with the links that direct you on the webpage. */
.navbar {
    display:flex;
    justify-content: center;
    align-items: center;
    background-color:skyblue;
    position:sticky;
    top: 0;
}

.navbar ul {
    display:flex;
    list-style: none;
    margin: 25px 1px;
}

.navbar ul li {
    font-family: sans-serif;
    font-size: 1.1rem;
    font-weight: bold;
}

.navbar ul li a {
    text-decoration: underline;
    color: Black;
    padding: 10px 25px;
    transition: all .4s ease;  
}

.navbar ul li a:hover {
    background-color: white;
    box-shadow: 0 0 20 black;
    cursor: crosshair;
}

/*This section coresponds to the background and main greeting of the webpage. Describes the background image along with the text and button to to reach out */
 #home {
    display: flex;
    font-size: 25px;
    flex-direction: column;
    background-color: black( 0,0,0,0.5);
    height: 700px;
    justify-content: center;
    align-items: center;
    color: black;
    text-decoration: bold;
 }

 #home::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    background: url('assets/david.lake.img.PNG') no-repeat center center/cover;
    height: 877px;
    width: 100%;
    z-index: -1;
    opacity: .8;
 }
 .main {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 15%;
    right: 2%;
 }

 .headings {
    font-family: 'Times New Roman', Times, serif;
    font-size: 3rem;
    text-align: center;
    margin: 60px 0px;
 }

 .btn {
    padding: 10px 40px;
    font-size: 20px;
    background-color:transparent;
    border: 3px solid white;
    color: black;
    outline: none;
    transition: ease;
 }

 .btn:hover {
    cursor: crosshair;
    background-color: white;
    color: black;
    box-shadow: 0 0 5px black, 0 0 10px white, 0 0 15px white;
    font-weight: bold;
 }
 /*This section is relating to the about me section that contains a photo along with a brief description */
#aboutme {
    display: center;
    flex-direction: column;
    box-sizing: border-box;
    padding: 20px;
    font-size: 25px;
    text-align: 0;
    background-color: saddlebrown;
}

#pic {
   display:flex;
}

#pic img{
    width: 401px;
    height: 300px;
    margin-bottom: 5px;
}
#intro {
    display:flex;
    flex-direction: column;
    text-align: justify;
    padding: 5px;
}

#intro h2{
    font-size: 2rem;
    margin-bottom: 20px;
}
/*This section contains the projects along with 4 images, one bigger than the other 3. */
#Projects {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 25px;
    margin-top: 10;
    align-items: center;
    background: skyblue;
    color: black;   
}

.bigimg {
    width: 100%;
}

.heading {
    font-size: 3rem;
}
 
#smallprojects {
    display: flex;
    flex-direction: column;
    background-color: skyblue;
    align-items: center;
    padding: 20px;
}

.otherimg {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    box-sizing: border-box;
}

.otherimg img {
    width: 250px;
    height:200px;
    margin: 10px;
}
/*This section is the contact me section. */
#ContactMe {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(109, 25, 25);
    padding: 10px;
    color: white;
    font-size: 40px;
}

#ContactMe ul {
    display: flex;
    list-style: none;
    margin: 25px 1px;
    padding: 20px;
}

#ContactMe h3 li {
    font-family:Impact, 'Arial Narrow Bold', sans-serif;
    font-size: 1.1rem;
    font-weight: bold;
}

#ContactMe ul li a {
    text-decoration: underline;
    color: black;
    padding: 10px 25px;
    font-weight: bold;
}
/*This is the media queries section that will change how the webpage looks when formated to different screens. */
@media (max-width: 390px ), (max-height:800px) {

    #home::before {
    position: absolute;
    height: 100%;
    width: 100%;
}

.btn {
    margin: 100px;
}

#pic img {
    width: 239px;
    height:300px;
}

#intro h2 {
    position: absolute;
    right: 29px;
    padding: 273px;
}

#intro {
    font-size: 26px;
    font-weight: bold;
    position: absolute;
    left: -90px;
    margin: 112px;
}

.bigimg {
    width: 100%;
}

#ContactMe ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    margin: 22px 1px;
    padding: 20px;
    font-size: 27px;
}

}